@page "/"
@implements IDisposable
@using MissionSystem.Main.Gadgets
@using MissionSystem.Interface
@using Newtonsoft.Json
@using System.Net.NetworkInformation
@inject IGadgetStateService _gadgets

@inject IGameService _game
@inject ILogger<Index> _logger

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h1>Flag captured by: @_capturedBy</h1>

@code {
    private string _capturedBy = "";

    private IDisposable? _subscription;

    protected override void OnInitialized()
    {
        IBaseGame ctf = _game.GetGame("CTF");
        ctf.Setup();
        ctf.data += Update;
        // _subscription = _gadgets.StateUpdatesOf(PhysicalAddress.Parse("92-22-21-82-1D-31"), OnFlagUpdate);
    }

    private void Update(object? sender, string data) {
        var obj = JsonConvert.DeserializeObject(data);
        Console.WriteLine(obj);
    }

    //private void OnFlagUpdate(Dictionary<string, object> state)
    //{
    //    try
    //    {
    //        var flagState = FlagState.FromRaw(state);

    //        switch (flagState.Capturer)
    //        {
    //            case 0:
    //                _capturedBy = "none";
    //                break;
    //            case 1:
    //                _capturedBy = "Team 1";
    //                break;
    //            case 2:
    //                _capturedBy = "Team 2";
    //                break;
    //        }

    //        InvokeAsync(StateHasChanged);
    //    }
    //    catch (Exception e)
    //    {
    //        // TODO: should log or something
    //        _logger.LogError("Could not parse flag state");
    //    }
    //}

    public void Dispose()
    {
        _subscription?.Dispose();
    }

}
