@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

@using MissionSystem.Main.Time
@inject GameTimerService gameTimerService

<h1>Dashboard</h1>

<p role="status">Timer information: @(_timer?.TimeRemaining ?? -10)</p>

<button class="btn btn-primary" @onclick="NewTimer">Click to get a new timer!</button>

@code {
    private ITimer? _timer;

    private void OnTick(object? sender, ITimer timer)
    {
        InvokeAsync(StateHasChanged);
        Console.WriteLine(_timer);
    }

    private void NewTimer()
    {
        if (_timer != null) gameTimerService.DeleteTimer(_timer);

        _timer = gameTimerService.CreateTimer(20);
        _timer.Update += OnTick;

        _timer.StartTimer();
    }
}
