@using MissionSystem.Interface.Services
@using MissionSystem.Data.Models
@inject IGadgetService GadgetService
@inject IGadgetTypeService GadgetTypeService

<EditForm Model="@_gadget" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3">
        <label for="macInput" class="form-label">MAC-address</label>
        <PhysicalAddressInput required id="macInput" class="form-control" placeholder="Enter MAC address" @bind-Value="_gadget.MacAddress" ParsingErrorMessage="Invalid MAC-address"/>
    </div>

    <div class="mb-3">
        <label for="typeInput" class="form-label">Type</label>
        <InputSelect required id="typeInput" class="form-select" @bind-Value="_gadget.TypeId">
            @if (_gadgetTypes != null)
            {
                <option selected disabled value="">Select&hellip;</option>
                foreach (var type in _gadgetTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="nameInput" class="form-label">Name</label>
        <InputText required id="nameInput" class="form-control" @bind-Value="_gadget.Name"/>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {

    private Gadget _gadget = new();

    private List<GadgetType>? _gadgetTypes;

    protected override async Task OnInitializedAsync()
    {
        _gadgetTypes = await GadgetTypeService.GetGadgetTypesAsync();
    }

    async void HandleValidSubmit()
    {
        await GadgetService.AddGadgetAsync(_gadget);
        _gadget = new Gadget();
    }

}
